/* Menu */
* {
 margin: 0;
 padding: 0;
}




.menu {
    overflow: hidden;
  list-style-type: none;
  margin-top: 15px;
  font-family: Arial;
  font-weight: bold;
}
.menu li {
 float: left;
}

.menu li a {
 display: block;
 color: white;
 text-align: left;
 padding: 14px 16px;
 text-decoration: none;
}

.menu li ul{
    display: none;
}

.menu li a:hover {
 background-color:  #ff4d4d;
}

.active{
    background: #ff4d4d;
}

/* sub menu */
.submenu{
    position: absolute;
    list-style: none;
    color: black;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding-left: 0;
}

.submenu li{
    width: 100%;
    float: none;
}
.submenu li a{
    color: white;
}
.submenu li a:hover{
    background-color: #ff4d4d;
}

.menu li:hover .submenu{
    display: block;
}

.subactive{
    background: #ff4d4d;
}

.profile {
    float: left;
    margin-left: 900px;
    margin-top: 15px;
    color: white;
    margin-right: 89px;
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    
    box-sizing: border-box;
    transition: .3s;

}



nav.black {
    background: #333333;
    height: 90px;
    padding: 10px 100px;
    position: fixed;
}
section.sec1 {
    width: 100%;
    height: 50vh;
    background: url(backimage.jpg);
    background-size: cover;
    background-position: center;
    
    
}

 .slideshow-element{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 125px;
    font-weight: bold;
}



.module {
    clear: both;
}

.imgContainer, .intro {
  float: left;
  font-family: Avenir;
}

.imgContainer {
  width: 300px;
  margin-bottom: 100px;
  font-size: 50px;
}



.intro {
  width: 55%;
margin-left: 80px;
margin-top: 40px;
padding-left: 50px;
}

.contact-form {
  height: 500px;
}

.container {
  margin: 100px auto;
}

section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 0px;
  font-size: 20px;
}
section.module p {
  margin-bottom: 0px;
  font-size: 19px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px;
}
section.module.parallax {
  height: 300px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 3em;
  line-height: 300px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section.module.parallax-2 {
  background-image: url("primary1.jpg");
}
section.module.parallax-3 {
  background-image: url("primary2.png");
}


img.imgContainer{
          height: 50%;
          width: 35%;


        }
       

    
.pic img {
 
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.pic:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#movie a {
  font-size: 25px;
  text-decoration: none;
  font-weight: bold;

}

#movie a:hover {
  color: red;
}

#heading {
  color: black;
}